# Lets Encrypt
.well-known

# Project
/app/static/js/**/*.js
/app/static/js/.module-cache/
/app/static/css/**/*.css
/app/static/components/
/app/static/.well-known/
/logs/*.log
/.env

# Python
*.py[cod]

# Installer logs
pip-log.txt

# Vagrant
.vagrant
Vagrantfile

# Node.js
/node_modules/

# Virtualenv
/.virtualenv

# Bower
/app/static/components/
/app/static/js/**/*.js

# VirtualEnv
.virtualenv
