boto==2.3.0
Flask-Compress==1.0.0
Flask-Login==0.2.9
Flask-Migrate==1.2.0
Flask-Script==0.6.6
Flask-SQLAlchemy==2.0
Flask-WTF==0.10.2
Flask==0.10.1
psycopg2==2.5.4
PyReact==0.4.0
pytz==2014.7
tornado==4.0.2
urldecode==0.1
