<!doctype html>
<head>
    <title>
        {% block title %}{{ page_title }}{% endblock %}
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="/static/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-%d.png' % config.CACHE_BUSTER) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-%d.css' % config.CACHE_BUSTER) }}">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ config.SITE_NAME }}" />
    <meta property="og:description" content="{{ page_title }}" />
    <meta property="og:url" content="{{ request.url }}" />
    <meta property="og:image" content="{{ og_photo_url }}"/>
    <meta property="og:site_name" content="{{ config.SITE_NAME }}" />
    <script>
        var Config = {
            cache_buster: {{ config.CACHE_BUSTER }},
            s3_bucket: '{{ config.AWS_S3_BUCKET }}',
            User: {
                role: '{{ current_user.role }}'
            }
        };
    </script>
    <script data-main="{{ url_for('static', filename='js/app-%d.js' % config.CACHE_BUSTER) }}" src="{{ url_for('static', filename='components/requirejs/require.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">{{ config.SITE_NAME }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% autoescape false %}
                        {{ navbar_link('home', 'Home', icon='home') }}
                        {% if current_user.role == "share" %}
                            {{ navbar_link('users_login', 'Login', icon='user') }}
                        {% else %}
                            {% if current_user.role != "guest" %}
                                {{ navbar_link('gallery_create', 'Create an Album', icon='plus', login_required=true) }}
                                {{ navbar_link('users_change_password', 'Change your Password', icon='lock', login_required=true) }}
                            {% endif %}
                            {% if current_user.role == "admin" %}
                                {{ navbar_link('users_list', 'Users', icon='users', login_required=true) }}
                            {% endif %}
                            {{ navbar_link('users_login', 'Login', icon='user', anonymous_required=true) }}
                            {{ navbar_link('users_logout', 'Logout', icon='user', login_required=true) }}
                        {% endif %}
                    {% endautoescape %}
                </ul>

                {% if current_user.is_authenticated() and current_user.role != "share" %}
                    <ul class="nav navbar-nav navbar-right">
                        <li style="margin-top: 7px">
                            <form class="form-inline" role="form" action="" method="get">
                                <div class="input-group">
                                    <input type="search" class="form-control" name="q" id="search" placeholder="Search" value="{{q}}">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fa fa-search" style="padding: 0"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="container">
                {% for category, message in messages %}
                    <div class="alert {{ 'alert-%s' % category if category != 'message' else '' }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="container">
        {% if self.title() and show_title != false %}
            <h1>{{ self.title() }}</h1>
        {% endif %}
        {% block body %}{% endblock %}
    </div>

    {% block javascript%}{% endblock %}

    {% if config.GOOGLE_ANALYTICS_ID %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ config.GOOGLE_ANALYTICS_ID }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
</body>
</html>
