{% extends "layout.html" %}

{% block head %}
    <script>
        Config.aws_access_key_id = '{{ aws_access_key_id }}';
        Config.gallery = '{{ gallery }}';
        Config.gallery_id = {{ gallery.id }};
        Config.max_upload_size = {{ max_upload_size }};
        Config.page_title = '{{ page_title }}';
        Config.s3_acl = '{{ s3_acl }}';
        Config.s3_bucket = '{{ s3_bucket }}';
        Config.s3_folder = '{{ s3_folder }}';
        Config.s3_policy = '{{ s3_policy }}';
        Config.s3_signature = '{{ s3_signature }}';
        Config.s3_success_action_status = '{{ s3_success_action_status }}';
        Config.x_amz_meta_instructions = '{{ x_amz_meta_instructions|safe }}';
    </script>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}

{% block body %}
<div id="uploader"></div>
{% endblock %}
