// Core variables and mixins
@import "../components/bootstrap/less/variables.less";
@import "../components/bootstrap/less/mixins.less";

// Reset
@import "../components/bootstrap/less/normalize.less";
@import "../components/bootstrap/less/print.less";

// Core CSS
@import "../components/bootstrap/less/scaffolding.less";
@import "../components/bootstrap/less/type.less";
@import "../components/bootstrap/less/code.less";
@import "../components/bootstrap/less/grid.less";
@import "../components/bootstrap/less/tables.less";
@import "../components/bootstrap/less/forms.less";
@import "../components/bootstrap/less/buttons.less";

// Components
//@import "../components/bootstrap/less/component-animations.less";
//@import "../components/bootstrap/less/glyphicons.less";
@import "../components/bootstrap/less/dropdowns.less";
@import "../components/bootstrap/less/button-groups.less";
//@import "../components/bootstrap/less/input-groups.less";
@import "../components/bootstrap/less/navs.less";
@import "../components/bootstrap/less/navbar.less";
//@import "../components/bootstrap/less/breadcrumbs.less";
//@import "../components/bootstrap/less/pagination.less";
//@import "../components/bootstrap/less/pager.less";
//@import "../components/bootstrap/less/labels.less";
//@import "../components/bootstrap/less/badges.less";
//@import "../components/bootstrap/less/jumbotron.less";
//@import "../components/bootstrap/less/thumbnails.less";
@import "../components/bootstrap/less/alerts.less";
@import "../components/bootstrap/less/progress-bars.less";
//@import "../components/bootstrap/less/media.less";
//@import "../components/bootstrap/less/list-group.less";
//@import "../components/bootstrap/less/panels.less";
//@import "../components/bootstrap/less/wells.less";
@import "../components/bootstrap/less/close.less";

// Components w/ JavaScript
//@import "../components/bootstrap/less/modals.less";
//@import "../components/bootstrap/less/tooltip.less";
//@import "../components/bootstrap/less/popovers.less";
//@import "../components/bootstrap/less/carousel.less";

// Utility classes
@import "../components/bootstrap/less/utilities.less";
@import "../components/bootstrap/less/responsive-utilities.less";

// Variables
@gallery-heading-bg: #fff;

/** Layout **/
.container {
    margin: 0;
    width: 100%;
}

.navbar {
    margin-bottom: 10px;
}

.navbar-nav .fa {
    padding-right: 10px;
}

.gallery-heading {
    color: #222;
    font-size: 32px;
    margin: 0;
    padding: 5px 10px;
}

.gallery-heading-dropped {
    background-color: @gallery-heading-bg;
    border-bottom-right-radius: 5px;
    color: #222;
    cursor: pointer;
    font-size: 32px;
    margin: 0;
    opacity: .7;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    top: 72px;
    width: auto;
    z-index: 1000;

    &:hover {
        background-color: white;
        opacity: .8;
    }
}

.gallery-display {
}

.gallery-thumb {
    text-align: center;
}

.gallery-photo {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    display: inline-block;
}

.gallery-photo-display {
    cursor: pointer;
}

.gallery-photo-thumb {
}
