/** Layout **/
.container {
    padding-right: 0;
    padding-left: 5px;
    margin: 0;
    width: 100%;
}

/** Thumbnail Images **/
.img-gallery {
}

    .img-photo {
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        cursor: pointer;
        display: inline-block;
    }
