{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uploader.css') }}">
    <script>
        Config.max_upload_size = {{ max_upload_size }};
        Config.gallery_id = {{ gallery.id }};
    </script>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}

{% block body %}
<div ng-app="uploaderApp" ng-cloak="ng-cloak">
    <div ng-controller="UploaderCtrl" class="uploader">
        <form action="https://{{ s3_bucket }}.s3.amazonaws.com/" method="POST" enctype="multipart/form-data" class="form-upload">
            <input type="hidden" name="key" value="{{ s3_folder }}${filename}"/>
            <input type="hidden" name="AWSAccessKeyId" value="{{aws_access_key_id}}"/>
            <input type="hidden" name="acl" value="{{s3_acl}}"/>
            <input type="hidden" name="policy" value="{{s3_policy}}"/>
            <input type="hidden" name="signature" value="{{s3_signature}}"/>
            <input type="hidden" name="success_action_status" value="{{s3_success_action_status}}"/>
            <div ng-disabled="getFilesToUpload() > 0 && getUploadProgress() > 0" class="btn btn-success">
                <input type="file" name="file" file-change="addFiles" class="input-file" accept="image/*"/><i class="fa fa-plus"></i>Add files...
            </div>
            <button type="submit" ng-click="uploadFiles($event)" ng-disabled="getFilesToUpload() == 0 || getUploadProgress() > 0" class="btn btn-primary"><i class="fa fa-upload"></i>Start upload</button>
            <button type="reset" ng-click="clearFiles()" class="btn btn-warning"><i class="fa fa-ban"></i>Cancel upload</button>
            <table ng-hide="files.length == 0" ng-cloak="ng-cloak" class="table table-striped">
                <colgroup>
                    <col/>
                    <col style="width: 50%"/>
                    <col style="width: 150px"/>
                    <col style="width: 6px"/>
                </colgroup>
                <caption>{{ '{{getFilesToUpload()}}' }} Files in the Queue
                    <div ng-hide="getUploadProgress() == 0">
                        <div ng-class="{'active': getFilesToUpload() > 0}" class="progress progress-striped">
                            <div style="width: {{ '{{getUploadProgress()}}' }}%" ng-class="{'progress-bar-success': getFilesToUpload() == 0}" class="progress-bar"></div>
                        </div>
                    </div>
                </caption>
                <thead>
                    <th>Name</th>
                    <th>Upload Progress</th>
                    <th>Size (bytes)</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                    <tr ng-repeat="file in files">
                        <td>
                            <div ng-hide="file.url || file.imgUrl">{{ '{{file.name}}' }}</div>
                            <div>
                                <div ng-hide="!file.imgUrl"><img ng-src="{{ '{{file.imgUrl}}' }}" class="img-thumbnail"/></div><span ng-hide="!file.url"><a href="{{ '{{file.url}}' }}">{{ '{{file.name}}' }}</a></span>
                            </div>
                        </td>
                        <td>
                            <div class="progress progress-striped">
                                <div style="width: {{ '{{file.progress}}' }}%" ng-class="{'progress-bar-info': !file.isUploaded && !file.isUploadError, 'progress-bar-success': file.isUploaded && !file.isUploadError, 'progress-bar-danger': file.isUploadError}" class="progress-bar"></div>
                            </div>
                        </td>
                        <td>
                            <div ng-hide="file.isTooBig">{{ '{{file.sizeFormatted}}' }}</div>
                            <div ng-hide="!file.isTooBig"><span data-toggle="tooltip" class="text-danger">File too large</span></div>
                        </td>
                        <td>
                            <button ng-click="removeFile(file)" class="btn btn-icon btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock %}
